body{
    background-color: darkgreen;
}
.ana{
    width: 500px;
    height: 700px;
    border: 5px solid black;
    background-color: white;
    margin-left: 10px;
}
.qirmizi{
    width: 355px;
    height: 100px;
    background-color: red;
    margin: 5px auto;
    border: solid 5px black;
    padding-left: 45px;
}
.boz{
    width: 400px;
    height: 400px;
    background-color: gray;
    border: solid 5px black;
    margin: 5px auto;
}
.sari{
    width: 330px;
    height: 100px;
    background-color: yellow;
    border: solid 5px black;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.goy{
    width: 300px;
    height: 200px;
    border: solid 5px black;
    margin-left: 30px;
    background-color: darkblue;
    padding-left: 30px;
}
.yasil{
    width: 370px;
    height: 100px;
    border: solid 5px black;
    background-color: darkgreen;
    margin-left: 45px;
    padding-left: 30px;
}

.ana2{
    margin-left: 10px;
    margin-top: 20px;
    width: 500px;
    height: 800px;
    border: solid 5px red;
    background-color: white;
}
.qirmizi2{
    margin-top: 10px;
    background-color: darkred;
    width: 420px;
    height: 300px;
    border: solid 5px black;
    margin-left: 33px;
}
.aciqgoy2{
    width: 320px;
    height: 120px;
    border: solid 5px black;
    margin-left: 46px;
    margin-top: 10px;
    background-color:skyblue;
}
.darkblue2{
    width: 320px;
    height: 120px;
    border: solid 5px black;
    margin-left: 46px;
    margin-top: 10px;
    background-color: darkblue;
}
.goy2{
    width: 420px;
    height: 450px;
    background-color: rgb(26, 26, 69);
    border: solid 5px black;
    margin-top: 10px;
    margin-left: 33px;
}
.qirmizii{
    width: 340px;
    height: 80px;
    border: solid 5px black;
    margin-left: 40px;
    margin-top: 10px;
    background-color: red;
}
.sari2{
    width: 340px;
    height: 140px;
    border: solid 5px black;
    margin-left: 40px;
    margin-top: 10px;
    background-color: yellow;
}
.qara2{
    width: 340px;
    height: 140px;
    border: solid 5px darkred;
    margin-left: 40px;
    margin-top: 10px;
    background-color: black;
}
.ana3{
    margin-left: 10px;
    margin-top: 20px;
    width: 500px;
    height: 800px;
    border: solid 5px red;
    background-color: white;
}
.qirmizi3{
    margin-top: 10px;
    background-color: darkred;
    width: 420px;
    height: 120px;
    border: solid 5px black;
    margin-left: 33px;
}
.qara3{
    width: 420px;
    height: 500px;
    background-color: black;
    border: solid 5px rgb(104, 10, 10);
    margin-top: 10px;
    margin-left: 33px;
}
.goy3{
    width: 370px;
    height: 120px;    margin-left: 20px;
    margin-top: 10px;
    background-color: darkblue;
}
.aciqqirmizi3{
    width: 370px;
    height: 120px;
    margin-left: 20px;
    background-color:darkred
}
.yasil3{
    width: 370px;
    height: 120px;
    margin-left: 20px;
    background-color: darkgreen;
}
.tundgoy3{
    width: 370px;
    height: 70px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: darkblue;
    border: solid 5px darkred;
}
.sari3{
    width: 420px;
    height: 90px;
    margin-left: 33px;
    margin-top: 10px;
    background-color: yellow;
    border: solid 5px darkred;
}

