body{
    background-color: darkgreen;
}
.ana{
    width: 500px;
    height: 700px;
    border: 5px solid black;
    background-color: white;
}
.qirmizi{
    width: 355px;
    height: 100px;
    background-color: red;
    margin: 5px auto;
    border: solid 5px black;
    padding-left: 45px;
}
.boz{
    width: 400px;
    height: 400px;
    background-color: gray;
    border: solid 5px black;
    margin: 5px auto;
}
.sari{
    width: 330px;
    height: 100px;
    background-color: yellow;
    border: solid 5px black;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.goy{
    width: 300px;
    height: 200px;
    border: solid 5px black;
    margin-left: 30px;
    background-color: darkblue;
    padding-left: 30px;
}
.yasil{
    width: 370px;
    height: 100px;
    border: solid 5px black;
    background-color: darkgreen;
    margin-left: 45px;
    padding-left: 30px;
}
